<p>courses works!</p>
<!-- course.component.html -->
<div>
    <h1>Courses</h1>
    <button mat-raised-button color="primary" (click)="openDialog()">Add Course</button>
    <table mat-table [dataSource]="courses">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let course"> {{course.title}} </td>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let course"> {{course.description}} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let course">
          <button mat-button (click)="openDialog(course)">Edit</button>
          <button mat-button color="warn" (click)="deleteCourse(course.id)">Delete</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['title', 'description', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['title', 'description', 'actions'];"></tr>
    </table>
  </div>
  